node_modules
package-lock.json
.DS_Store

#Buidler files
cache
artifacts
build

#Verifier solidity contracts
EpochKeyValidityVerifier.sol
ReputationVerifier.sol
ReputationFromAttesterVerifier.sol
UserStateTransitionVerifier.sol