node_modules
.DS_Store

zksnarkBuild
dist

#Buidler files
artifacts
cache
typechain

# .env file
.env
build
packages/frontend/cypress/downloads
packages/frontend/cypress/screenshots
*.swp

.node-version
packages/core/contracts/*Verifier.sol

# sqlite
**/**.sql
**/**.sqlite
yarn-error.log
