node_modules
.DS_Store

zksnarkBuild

#Buidler files
artifacts
cache
typechain

# .env file
.env
build
packages/frontend/cypress/downloads
packages/frontend/cypress/screenshots
*.swp

.node-version
packages/core/contracts/*Verifier.sol
