// color //
$main-font-color: #000;
$background-color: #ffffff;

$white: #fdfdfd;
$black: #0b0b0b;
$grey-800: #2a2b2c;
$grey-700: #4f4f4f;
$grey-400: #828282;
$grey-300: #bdbdbd;
$grey-200: #e0e0e0;
$grey-100: #f2f2f2;
$red: #eb5757;
// color //

// font-size //
$title-xl3: 96px;
$title-xl2: 72px;
$title-xl: 56px;
$title-lg: 48px;
$title-md: 32px;
$title-sm: 24px;
$text-lg: 20px;
$text-md: 18px;
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;
$text-xxs: 10px;
// font-size //
