.admin-main {
    margin-top: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    input {
        width: 300px;
        height: 48px;
        border-radius: 4px;
    }

    input[type='text'] {
        outline: none;
        border: 1px solid $grey-300;
        padding: 8px;
    }

    input[type='submit'] {
        background-color: $black;
        color: $white;
        font-size: $title-sm;
    }

    .buttons {
        display: flex;
        flex-direction: row;

        .button {
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid $grey-300;

            &:hover {
                background-color: $grey-100;
            }
        }
    }
}
