.login-page {
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $black;

    .left-column {
        flex: 3;
        height: 100%;
        background-color: $black;
        position: relative;

        img {
            width: 50%;
            position: absolute;
            top: 30%;
            left: 25%;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    .right-column {
        flex: 4;
        flex-direction: column;
        height: 100%;
        background-color: #eaeef0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .close {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-top: 48px;
            padding-right: 10%;

            @media (max-width: 600px) {
                position: relative;
                top: auto;
                padding: 48px 16px;
                justify-content: space-between;
            }

            #close-icon {
                width: 48px;
                height: 48px;
                cursor: pointer;
            }

            #unirep-icon {
                height: 48px;

                @media (min-width: 600px) {
                    display: none;
                }
            }
        }

        .info {
            color: $black;
            display: flex;
            flex-direction: column;
            padding: 16px;
            max-width: 500px;

            .title {
                font-size: $title-lg;
                font-weight: 700;
                line-height: 62px;
                margin-bottom: 16px;
            }

            textarea {
                background-color: $white;
                border-radius: 8px;
                width: 100%;
                height: 136px;
                border: none;
                outline: none;
                resize: none;
                padding: 8px 16px;
                margin: 40px 0px 16px 0px;
            }

            .error {
                font-size: $text-xs;
                color: $red;
            }

            .sign-in-btn {
                margin: 16px 0px 12px 0px;
            }

            .notification {
                width: 100%;
                border-radius: 8px;
                background-color: $grey-200;
                font-size: $text-sm;
                padding: 8px;
                margin: 12px 0px 32px 0px;
            }

            .go-to-signup {
                font-size: $text-base;
            }

            a {
                text-decoration: none;
                color: $black;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
