.loading-spinner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 3px solid #333;
        border-radius: 50%;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: spin 3s linear infinite;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
