.back {
    padding-bottom: 32px;
    cursor: pointer;

    img {
        width: 32px;
        height: 32px;
    }
}

.private-key {
    width: 100%;
    padding: 16px 24px 48px 24px;
    border-radius: 8px;
    border: 4px solid $grey-100;

    img {
        width: 84px;
        height: 84px;
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.private-key-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.private-key-btn {
    @include myButton(
        $height: 46px,
        $radius: 8px,
        $border: 1px,
        $border-color: $black
    );
    flex-basis: 48%;
    margin: 0px;

    &:hover {
        background-color: $grey-100;
    }
}

.black {
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $grey-700;
    }
}

.private-key-text {
    width: 100%;
    padding: 8px 16px 8px 16px;
    background-color: $grey-100;
    border: 1px solid $grey-300;
    border-radius: 8px;
    word-break: break-all;
    margin-bottom: 16px;
}
