.banner-row {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    padding: 32px 12px 0px 12px;

    .banner {
        position: relative;
        width: 100%;
        height: 264px;
        border-radius: 8px;
        border: $grey-200 1px solid;
        color: $black;

        & > img {
            position: absolute;
            top: 5px;
            right: 24px;
            height: 210px;

            @media (max-width: 1000px) {
                display: none;
            }
        }

        .banner-title {
            position: absolute;
            top: 56px;
            left: 40px;

            font-size: $title-sm;
            font-weight: 600;
            line-height: 28px;
        }

        .banner-content {
            position: absolute;
            top: 128px;
            left: 40px;
            padding-right: 12px;

            font-size: $text-sm;
        }

        .banner-buttons {
            position: absolute;
            left: 40px;
            bottom: 24px;

            display: flex;

            @media (max-width: 600px) {
                left: 24px;
            }

            .banner-button {
                @include myButton($font-weight: 700, $radius: 8px);
                padding: 8px 16px;
                margin-right: 64px;
                line-height: 22px;
                text-decoration: none;

                &:hover {
                    background-color: $grey-100;
                }

                @media (max-width: 600px) {
                    margin-right: 32px;
                }
            }
        }

        .banner-close {
            position: absolute;
            top: 16px;
            right: 24px;

            & > img {
                width: 40px;
                height: 40px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
