.topics-menu {
    z-index: 11;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 104px;
    background: $background-color;
    width: 100%;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;

    @media (max-width: 600px) {
        /* Change the layout to stack the topic buttons vertically */
        .topic-buttons {
            flex-direction: column;
        }

        /* Adjust the padding and margins for smaller screens */
        .topic-buttons > div {
            margin: 10px 0;
            padding: 10px;
        }
    }

    .topic-buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .topic-buttons > div {
        margin: 10px 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer; /* add cursor: pointer to show that the div is clickable */
    }
}

/* Move styles for .topic-buttons > div:hover outside of .topics-menu block */
.topic-buttons > div:hover {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
    );
}
