.topics-menu {
    z-index: 11;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 104px;
    background: $background-color;
    width: 100%;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;

    .topic-buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .topic-buttons > div {
        margin: 10px 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .topic-buttons > div:active {
        color: rgb(77, 77, 77);
        box-shadow: 4px 4px 4px 4px rgba(48, 48, 48, 0.5);
        border-radius: 5%;
    }
}

@media (max-width: 680px) {
    .topics-menu {
        display: grid;
        grid-template-columns: 1fr;

        .topic-buttons {
            display: grid;
            grid-template-columns: 1fr;

            > div {
                &:nth-child(n + 8) {
                    grid-column: 2;
                }
            }
        }
    }
}
