.topics-menu {
    z-index: 11;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 104px;
    background: $background-color;
    width: 100%;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;

    .topic-buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 50px 10px 50px 10px;
    }

    .topic {
        margin: 10px 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .topic.selected {
        color: black;
        text-decoration: underline;
    }
}

@media (max-width: 1076px) {
    .topics-menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

        .topic-buttons {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        }
    }
}

@media (max-width: 680px) {
    .topics-menu {
        select {
            appearance: none;
            border: 2px solid black;
            border-radius: 4px;
            background: $background-color;
            color: black;
            font-size: 16px;
            padding: 10px;
            width: 100%;
            text-align-last: center;
            text-align: center;
            cursor: pointer;

            /* Add hover effect */
            &:hover {
                background: $background-color;
                color: black;
            }

            /* Add the same styles as the .topic element */
            &.selected {
                color: black;
                text-decoration: underline;
            }
        }
    }
}
