.action-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .choose-from {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .choices {
            display: flex;
            gap: 24px;
            color: $black;
            font-size: $text-base;

            .choice {
                cursor: pointer;
                font-weight: 600;
            }

            .chosen {
                border-bottom: 4px solid $black;
            }
        }

        .help {
            width: 200px;
            text-align: right;
        }
    }

    .info-detail {
        width: 100%;
        margin-bottom: 32px;
        line-height: 12px;

        display: flex;
        justify-content: space-between;

        .epks {
            display: flex;
            gap: 8px;
        }

        .epk {
            @include myButton(
                $height: 32px,
                $font-size: $text-sm,
                $color: $black,
                $radius: 8px,
                $border: 1px,
                $border-color: $black,
                $margin-horizontal: 0px
            );
            padding: 7px 16px;

            .interline {
                width: 1px;
                height: 100%;
                background-color: $white;
                margin: 0px 8px;
            }

            .rep {
                font-weight: 600;
            }
        }

        .chosen {
            background-color: $black;
            color: $white;
        }

        .rep-chooser {
            display: flex;
            align-items: center;

            input[type='range'] {
                appearance: none;
                display: block;
                flex-basis: 85%;
                height: 32px;
                background: none;
                margin: 0;
                padding: 0;
                outline: none;
                overflow: hidden;
                cursor: pointer;

                &::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 8px;
                    border-radius: 4px;
                    border: 1px solid $grey-200;
                    background: $white;
                }

                &::-webkit-slider-thumb {
                    appearance: none;
                    margin-top: -12px;
                    width: 30px;
                    height: 30px;
                    background-image: url('../public/images/boost-fill.svg');
                    background-size: 30px;
                    box-shadow: rangeLongShadow(
                        $size: -12px,
                        $color: $grey-100
                    );
                }

                &::-moz-range-track,
                &::-moz-range-progress {
                    width: 100%;
                    height: 8px;
                    border-radius: 4px;
                    border: 1px solid $grey-200;
                    background: $white;
                }

                &::-moz-range-thumb {
                    margin-top: -12px;
                    width: 30px;
                    height: 30px;
                    background-image: url('../public/images/boost-fill.svg');
                    background-size: 30px;
                    box-shadow: rangeLongShadow(
                        $size: -12px,
                        $color: $grey-100
                    );
                }
            }

            input[type='text'] {
                flex-basis: 15%;
                height: 32px;
                outline: none;
                background-color: $grey-100;
                border: 1px solid $grey-200;
                border-radius: 8px;
                color: $black;
                margin: 0px 16px;
                font-size: $text-base;
                font-weight: 400;
                text-align: center;
                padding: 0px;
            }
        }
    }

    .info-border {
        border-radius: 8px;
        border: 1px solid $grey-200;
        padding: 16px;
    }
}
