.feed-row {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 0px;

    @media (max-width: 600px) {
        display: block;
        margin: 16px 0px;
        border-radius: 4px;
    }

    .feed-choice {
        @include myButton(
            $height: 40px,
            $radius: 4px,
            $font-size: $text-md,
            $font-weight: 600
        );
        padding: 8px 16px;

        @media (max-width: 600px) {
            width: 100%;
            height: 56px;
            padding: 16px;
            margin: 0px;
        }

        &:hover {
            background-color: $grey-100;
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
    }

    .chosen {
        background-color: $grey-100;
    }

    .divider {
        background-color: $grey-200;
        width: 1px;
        height: 40px;
        margin: 0px;
    }

    .toggle-switch {
        .switch {
            position: relative;
            display: inline-block;
            width: 64px;
            height: 32px;
            cursor: pointer;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $grey-700;
                border: 1px solid $grey-400;
                -webkit-transition: 0.4s;
                transition: 0.4s;

                &:before {
                    position: absolute;
                    content: '';
                    height: 28px;
                    width: 28px;
                    left: 4px;
                    bottom: 1px;
                    background-color: white;
                    border: 1px solid $grey-800;
                    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(28px);
                -ms-transform: translateX(28px);
                transform: translateX(28px);
            }

            .round {
                border-radius: 32px;

                &:before {
                    border-radius: 50%;
                }
            }

            .diamond {
                width: 20px;
                height: 17.6px;
                position: absolute;
                top: 8px;
                left: 9px;
            }

            .clock {
                width: 18px;
                height: 18px;
                position: absolute;
                top: 7.5px;
                right: 8px;
            }
        }
    }

    .dropdown-row {
        display: flex;
        flex-direction: row;

        .dropdown-box {
            width: 108px;
            margin: 0px 10px;
        }
    }
}
