.loading-widget {
    position: fixed;
    bottom: 17px;
    right: 47px;
    z-index: 15;

    .loading-block {
        width: 280px;
        height: 320px;
        background-color: $grey-700;
        border-radius: 8px;
        color: $white;
        font-size: $text-base;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 64px;
            height: 64px;
            margin-bottom: 32px;
        }

        .info-row {
            display: flex;
            flex-direction: row;
            font-size: $text-sm;
            font-weight: 400;
            line-height: 18px;
            justify-content: center;
            align-items: center;

            width: 100%;
            padding-left: 28px;
            padding-right: 28px;
            margin-top: 16px;
            text-align: center;

            .link,
            span {
                cursor: pointer;
                margin-left: 8px;
                margin-right: 8px;
                color: $white;

                &:hover {
                    color: $grey-100;
                }
            }

            .failed {
                color: $red;

                &:hover {
                    color: $red;
                }
            }

            img {
                width: 16px;
                height: 16px;
                margin: 0;
            }
        }
    }

    .failed {
        background-color: #ffebeb;
        color: $red;
    }
}
