.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: $grey-300;
    padding: 121px 104px;

    @media (max-width: 600px) {
        padding: 16px;
    }

    .loading-main {
        width: 100%;
        height: 100%;
        border: 8px solid $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 320px;
            height: 320px;
            margin: 32px 0px;

            @media (max-width: 600px), (max-height: 760px) {
                width: 160px;
                height: 160px;
            }
        }

        .normal-font {
            width: 90%;
            max-width: 400px;
            word-break: break-word;
            font-size: $text-base;
        }

        .small-font {
            width: 90%;
            max-width: 300px;
            margin-top: 24px;
            font-size: $text-xs;
        }
    }
}
