.share-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: $text-sm;
    z-index: 20;
    background: rgba(253, 253, 253, 0.6);
    backdrop-filter: blur(5px);
    cursor: auto;

    .share-box {
        width: 372px;
        border: 4px solid $grey-300;
        border-radius: 8px;
        margin: 10% auto;
        padding: 16px 24px;
        display: flex;
        flex-direction: column;

        .close {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            img {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }

        .title {
            font-size: $title-sm;
            font-weight: 600;

            img {
                width: 32px;
                height: 32px;
            }
        }

        .url-sharing {
            width: 100%;
            display: flex;
            flex-direction: column;

            .url {
                width: 100%;
                background-color: $grey-100;
                border-radius: 4px;
                padding: 16px 24px;
                margin: 32px 0px;
                word-break: break-all;
                line-height: 14px;
            }

            .copy-btn {
                @include myButton(
                    $height: 40px,
                    $radius: 4px,
                    $block-color: $black,
                    $color: $white,
                    $font-size: $text-md,
                    $font-weight: 600
                );
                width: 100%;
                margin: 0;
            }

            .isCopied {
                background-color: $grey-400;
            }
        }
    }
}
