@function rangeLongShadow($size, $color) {
    $ret: -8px 0 0 $size $color;

    @for $i from 9 through 262 {
        $ret: $ret, -$i * 1px 0 0 $size $color;
    }

    @return $ret;
}

.writing-field {
    width: 100%;
    box-sizing: border-box;

    input[type='text'] {
        width: 100%;
        height: 68px;
        background-color: $grey-100;
        border-radius: 8px;
        border: 1px solid $grey-200;
        outline: none;
        padding: 16px;
        margin-top: 32px;
        margin-bottom: 16px;
        font-size: $title-sm;
        font-weight: 700;

        &::-webkit-input-placeholder {
            color: $grey-300;
            font-size: $title-sm;
            font-weight: 700;
        }

        &::-moz-placeholder {
            color: $grey-300;
            font-size: $title-sm;
            font-weight: 700;
        }
    }

    .error {
        color: $red;
        font-size: $text-md;
        margin-top: 24px;
        text-align: center;
    }

    .submit-btn {
        width: 100%;
        @include myButton(
            $height: 58px,
            $radius: 8px,
            $block-color: $black,
            $color: $white,
            $font-weight: 700,
            $font-size: $text-lg,
            $margin-horizontal: 0px
        );
    }
}
